@font-face {
  font-family: "kantray5x5comic";
  src: url("kantray5x5comic.woff") format('woff');
}
.kantrayFont {
  font-family: "kantray5x5comic";
}
header{
  border:1px gray dotted;
}
section{
  margin-top:1em;
  border:2px black solid;
  padding:1em;
}
footer{
  margin-top:1em;
  border:1px gray dotted;
  text-align: center;
}
