@charset "utf-8";
@font-face{
  font-family: "kantray5x5comic";
  src: url("kantray5x5comic.woff") format('woff');
}
.kantrayFont{
  font-family: "kantray5x5comic";
}
body{
  background-color: white;
}
mark{
  background-color: white;
  border: 1px pink solid;
}
header{
  border: 1px gray dotted;
  padding: 1em;
}
 .yonmoji_root{
   font-family: "kantray5x5comic"; font-size: 1em;
   float: left;
   margin-top: -0.5em;
   padding-right: 0.5em;
 }
 .yonmoji_root > a:nth-child(odd){
   text-decoration: none;
 }
 .yonmoji_sitemap{
   float: right;
 }
 yonmoji_both{
   float: both;
 }
section{
  margin-top: 1em;
  border: 2px black solid;
  padding: 1em;
}

.yonmoji_‎syllogism,.yonmoji_shuhar,.yonmoji_johakyu,.yonmoji_kishoutenketsu,.yonmoji_kishouhojoketsu,.yonmoji_kishouhojokakestu{
  list-style-type: none;
}
.yonmoji_‎syllogism li,.yonmoji_shuhar li,.yonmoji_johakyu li,.yonmoji_kishoutenketsu li,.yonmoji_kishouhojoketsu li,.yonmoji_kishouhojokakestu li{
  margin-bottom: 0.5em;
}
.yonmoji_‎syllogism li:before,.yonmoji_shuhar li:before,.yonmoji_johakyu li:before,.yonmoji_kishoutenketsu li:before,.yonmoji_kishouhojoketsu li:before,.yonmoji_kishouhojokakestu li:before{
  margin-right: 0.5em;
  font-size: large;
}
 .yonmoji_‎syllogism           li:nth-child(1):before{ content: "大"; }
 .yonmoji_‎syllogism           li:nth-child(2):before{ content: "小"; }
 .yonmoji_‎syllogism           li:nth-child(3):before{ content: "結"; }
 .yonmoji_shuhari             li:nth-child(1):before{ content: "守"; }
 .yonmoji_shuhari             li:nth-child(2):before{ content: "破"; }
 .yonmoji_shuhari             li:nth-child(3):before{ content: "離"; }
 .yonmoji_johakyu             li:nth-child(1):before{ content: "序"; }
 .yonmoji_johakyu             li:nth-child(2):before{ content: "破"; }
 .yonmoji_johakyu             li:nth-child(3):before{ content: "急"; }
 .yonmoji_kishoutenketsu      li:nth-child(1):before{ content: "起"; }
 .yonmoji_kishoutenketsu      li:nth-child(2):before{ content: "承"; }
 .yonmoji_kishoutenketsu      li:nth-child(3):before{ content: "転"; }
 .yonmoji_kishoutenketsu      li:nth-child(4):before{ content: "結"; }
 .yonmoji_kishoutenketsu      li:nth-child(5):before{ content: "闇"; }
 .yonmoji_kishouhojoketsu     li:nth-child(1):before{ content: "起"; }
 .yonmoji_kishouhojoketsu     li:nth-child(2):before{ content: "承"; }
 .yonmoji_kishouhojoketsu     li:nth-child(3):before{ content: "鋪"; }
 .yonmoji_kishouhojoketsu     li:nth-child(4):before{ content: "叙"; }
 .yonmoji_kishouhojoketsu     li:nth-child(5):before{ content: "結"; }
 .yonmoji_kishouhojokakestu   li:nth-child(1):before{ content: "起"; }
 .yonmoji_kishouhojokakestu   li:nth-child(2):before{ content: "承"; }
 .yonmoji_kishouhojokakestu   li:nth-child(3):before{ content: "鋪"; }
 .yonmoji_kishouhojokakestu   li:nth-child(4):before{ content: "叙"; }
 .yonmoji_kishouhojokakestu   li:nth-child(5):before{ content: "過"; }
 .yonmoji_kishouhojokakestu   li:nth-child(6):before{ content: "結"; }
.yonmoji_kishouketsu,.yonmoji_shoutententen,.yonmoji_kiketsu,.yonmoji_tsuriketunige,.yonmoji_kiketsushouten,.yonmoji_ketsushoutentei{
  list-style-type: none;
}
.yonmoji_kishouketsu li,.yonmoji_shoutententen li,yonmoji_tentententen,.yonmoji_kiketsu li,.yonmoji_tsuriketunige li,.yonmoji_kiketsushouten li,.yonmoji_ketsushoutentei li{
  margin-bottom: 0.5em;
}
.yonmoji_kishouketsu li:before,.yonmoji_shoutententen li:before,yonmoji_tentententen,.yonmoji_kiketsu li:before,.yonmoji_tsuriketunige li:before,.yonmoji_kiketsushouten li:before,.yonmoji_ketsushoutentei li:before{
  margin-right: 0.5em;
  font-size: large;
}
 .yonmoji_kishouketsu         li:nth-child(1):before{ content: "起"; }
 .yonmoji_kishouketsu         li:nth-child(2):before{ content: "承"; }
 .yonmoji_kishouketsu         li:nth-child(3):before{ content: "結"; }
 .yonmoji_kishouketsu         li:nth-child(4):before{ content: "終"; }
 .yonmoji_shoutententen       li:before{              content: "転"; }
 .yonmoji_shoutententen       li:first-child:before{ content: "承"; }
 .yonmoji_tentententen        li:before{              content: "転"; }
 .yonmoji_kiketsu             li:before{             content: "結"; }
 .yonmoji_kiketsu             li:first-child:before{ content: "起"; }
 .yonmoji_kiketsu             li:last-child:before{    content: "結"; }
 .yonmoji_tsuriketunige       li:nth-child(1):before{ content: "釣"; }
 .yonmoji_tsuriketunige       li:nth-child(2):before{ content: "結"; }
 .yonmoji_tsuriketunige       li:nth-child(3):before{ content: "逃"; }
 .yonmoji_kiketsushouten      li:nth-child(1):before{ content: "起"; }
 .yonmoji_kiketsushouten      li:nth-child(2):before{ content: "結"; }
 .yonmoji_kiketsushouten      li:nth-child(3):before{ content: "承"; }
 .yonmoji_kiketsushouten      li:nth-child(4):before{ content: "転"; }
 .yonmoji_ketsushoutentei     li:nth-child(1):before{ content: "結"; }
 .yonmoji_ketsushoutentei     li:nth-child(2):before{ content: "承"; }
 .yonmoji_ketsushoutentei     li:nth-child(3):before{ content: "転"; }
 .yonmoji_ketsushoutentei     li:nth-child(4):before{ content: "提"; }
.yonmoji_PDCA,.yonmoji_PPPP,.yonmoji_DDDD,.yonmoji_ganbaru,.yonmoji_asahiruyoru,.yonmoji_QVSA{
  list-style-type: none;
}
.yonmoji_PDCA li,.yonmoji_PPPP li,.yonmoji_DDDD li,.yonmoji_ganbaru li,.yonmoji_asahiruyoru li,.yonmoji_QVSA li{
  margin-bottom: 0.5em;
}
.yonmoji_PDCA li:before,.yonmoji_PPPP li:before,.yonmoji_DDDD li:before,.yonmoji_ganbaru li:before,.yonmoji_asahiruyoru li:before,.yonmoji_QVSA li:before{
  margin-right: 0.5em;
  font-size: large;
}
 .yonmoji_PDCA                li:nth-child(4n+1):before{ content: "Ｐ"; }
 .yonmoji_PDCA                li:nth-child(4n+2):before{ content: "Ｄ"; }
 .yonmoji_PDCA                li:nth-child(4n+3):before{ content: "Ｃ"; }
 .yonmoji_PDCA                li:nth-child(4n+4):before{ content: "Ａ"; }
 .yonmoji_PPPP                li:before{              content: "Ｐ"; }
 .yonmoji_DDDD                li:before{              content: "Ｄ"; }
 .yonmoji_ganbaru             li:before{              content: "頑"; }
 .yonmoji_asahiruyoru         li:nth-child(5n+1):before{ content: "朝"; }
 .yonmoji_asahiruyoru         li:nth-child(5n+2):before{ content: "昼"; }
 .yonmoji_asahiruyoru         li:nth-child(5n+3):before{ content: "夜"; }
 .yonmoji_asahiruyoru         li:nth-child(5n+4):before{ content: "徹"; }
 .yonmoji_asahiruyoru         li:nth-child(5n+5):before{ content: "明"; }
 .yonmoji_QVSA                li:nth-child(4n+1):before{ content: "Ｑ"; }
 .yonmoji_QVSA                li:nth-child(4n+2):before{ content: "Ｖ"; }
 .yonmoji_QVSA                li:nth-child(4n+3):before{ content: "Ｓ"; }
 .yonmoji_QVSA                li:nth-child(4n+4):before{ content: "Ａ"; }
.yonmoji_shunkashutou,.yonmoji_shunbaikashutou,.yonmoji_shunbaikaakisametou,.yonmoji_ame,.yonmoji_yuki,.yonmoji_kanki{
  list-style-type: none;
}
.yonmoji_shunkashutou li,.yonmoji_shunbaikashutou li,.yonmoji_shunbaikaakisametou li,.yonmoji_ame li,.yonmoji_yuki li,.yonmoji_kanki li{
  margin-bottom: 0.5em;
}
.yonmoji_shunkashutou li:before,.yonmoji_shunbaikashutou li:before,.yonmoji_shunbaikaakisametou li:before,.yonmoji_ame li:before,.yonmoji_yuki li:before,.yonmoji_kanki li:before{
  margin-right: 0.5em;
  font-size: large;
}
 .yonmoji_shunkashutou        li:nth-child(4n+1):before{ content: "春"; }
 .yonmoji_shunkashutou        li:nth-child(4n+2):before{ content: "夏"; }
 .yonmoji_shunkashutou        li:nth-child(4n+3):before{ content: "秋"; }
 .yonmoji_shunkashutou        li:nth-child(4n+4):before{ content: "冬"; }
 .yonmoji_shunbaikashutou     li:nth-child(5n+1):before{ content: "春"; }
 .yonmoji_shunbaikashutou     li:nth-child(5n+2):before{ content: "梅"; }
 .yonmoji_shunbaikashutou     li:nth-child(5n+3):before{ content: "夏"; }
 .yonmoji_shunbaikashutou     li:nth-child(5n+4):before{ content: "秋"; }
 .yonmoji_shunbaikashutou     li:nth-child(5n+5):before{ content: "冬"; }
 .yonmoji_shunbaikaakisametou li:nth-child(6n+1):before{ content: "春"; }
 .yonmoji_shunbaikaakisametou li:nth-child(6n+2):before{ content: "梅"; }
 .yonmoji_shunbaikaakisametou li:nth-child(6n+3):before{ content: "夏"; }
 .yonmoji_shunbaikaakisametou li:nth-child(6n+4):before{ content: "秋"; }
 .yonmoji_shunbaikaakisametou li:nth-child(6n+5):before{ content: "雨"; }
 .yonmoji_shunbaikaakisametou li:nth-child(6n+6):before{ content: "冬"; }
 .yonmoji_ame                 li:before{              content: "雨"; }
 .yonmoji_yuki                li:before{              content: "雪"; }
 .yonmoji_kanki               li:before{              content: "乾"; }
.yonmoji_tozainannboku,.yonmoji_seishuhakugen,.yonmoji_moshimo,.yonmoji_biyori{
  list-style-type: none;
}
.yonmoji_tozainannboku li,.yonmoji_seishuhakugen li,.yonmoji_moshimo li,.yonmoji_biyori li{
  margin-bottom: 0.5em;
}
.yonmoji_tozainannboku li:before,.yonmoji_seishuhakugen li:before,.yonmoji_moshimo li:before,.yonmoji_biyori li:before{
  margin-right: 0.5em;
  font-size: large;
}
 .yonmoji_tozainannboku       li:nth-child(1):before{ content: "東"; }
 .yonmoji_tozainannboku       li:nth-child(2):before{ content: "西"; }
 .yonmoji_tozainannboku       li:nth-child(3):before{ content: "南"; }
 .yonmoji_tozainannboku       li:nth-child(4):before{ content: "北"; }
 .yonmoji_tozainannboku       li:nth-child(5):before{ content: "中"; }
 .yonmoji_seishuhakugen       li:nth-child(1):before{ content: "青"; }
 .yonmoji_seishuhakugen       li:nth-child(2):before{ content: "朱"; }
 .yonmoji_seishuhakugen       li:nth-child(3):before{ content: "白"; }
 .yonmoji_seishuhakugen       li:nth-child(4):before{ content: "玄"; }
 .yonmoji_moshimo             li:nth-child(1):before{ content: "忍"; }
 .yonmoji_moshimo             li:nth-child(2):before{ content: "竜"; }
 .yonmoji_moshimo             li:nth-child(3):before{ content: "武"; }
 .yonmoji_moshimo             li:nth-child(4):before{ content: "精"; }
 .yonmoji_moshimo             li:nth-child(5):before{ content: "死"; }
 .yonmoji_biyori              li:nth-child(1):before{ content: "最"; }
 .yonmoji_biyori              li:nth-child(2):before{ content: "極"; }
 .yonmoji_biyori              li:nth-child(3):before{ content: "凶"; }
 .yonmoji_biyori              li:nth-child(4):before{ content: "劣"; }

input{
  border: solid 1px orange;
  background-color: white;
}
input:focus{
  border: solid 2px IndianRed;
  background-color: white;
}
 .yonmoji{
   width: 100%;
   text-align: center;
   margin: 0 auto;
   padding-top: 1em;
   padding-bottom: 0em;
 }
 .yonmoji_logo{
   font-family: "kantray5x5comic"; font-size: 100px;
   width: 100%;
   margin: 0 auto;
 }
 .yonmoji_word{
   font-family: "kantray5x5comic"; font-size: 25px;
   float: left;
   margin: 0em;
   padding-right: 1em;
 }
h1{ font-size: xx-large; }
h2{ font-size: x-large; }
h3{ font-size: large; }
h4{ font-size: large; }
h5{ font-size: large; }
h6{ font-size: large; }
footer{
  margin-top:1em;
  border: 1px gray dotted;
  text-align: center;
}

/*
# Copyright (c) 2016 ooblog
# License: MIT
# https://github.com/ooblog/LTsv9kantray/blob/master/LICENSE
*/
