@charset "utf-8";
@font-face{
  font-family: "kantray5x5comic";
  src: url("kantray5x5comic.woff") format('woff');
}
.kantrayFont{
  font-family: "kantray5x5comic";
}
mark{
  background-color: pink;
}
header{
  border: 1px gray dotted;
  padding: 1em;
}
 .breadcrumbs{
   font-family: "kantray5x5comic"; font-size: x-large;
   float: left;
   padding-right: 1em;
 }
 .sitemap{
   float: right;
 }
 sitemapboth{
   float: both;
 }
section{
  clear: both;
  margin-top: 1em;
  border: 2px black solid;
  padding: 1em;
}
input{
  border: solid 1px orange;
  background-color: white;
}
input:focus{
  border: solid 2px IndianRed;
  background-color: white;
}
 .yonmoji{
   width: 100%;
   text-align: center;
   margin: 0 auto;
   padding-top: 1em;
   padding-bottom: 1em;
 }
 .yonmoji_logo{
   font-family: "kantray5x5comic"; font-size: 100px;
   width: 100%;
   margin: 0 auto;
 }
 .yonmoji_word{
   font-family: "kantray5x5comic"; font-size: 25px;
   float: left;
   margin: 0em;
   padding-right: 1em;
 }
h1{ font-size: xx-large; }
h2{ font-size: x-large; }
h3{ font-size: large; }
h4{ font-size: large; }
h5{ font-size: large; }
h6{ font-size: large; }
footer{
  margin-top:1em;
  border: 1px gray dotted;
  text-align: center;
}
